.carousel {
  width: 80%;
  margin: 0 auto;
}

.heading-container {
  display: flex;
  justify-content: center;
}

.p-container {
  display: flex;
  justify-content: center;
}

.about-para {
  text-align: center;
}

.filter-plants-menu {
  outline: none;
  margin-left: 15px;
}
